
html {
    width: 770px;
    font-family: "Arial";
    font-size: 1.5em;
    color: black;
    
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

body {
    background-color: #FFF8AF;
    margin: 0;
    padding: 0;
}

#cabecera{ 
    font-size: 12pt; 
    font-weight: bold; 
    width: 770px;
    height: 100px;
    text-align: center;
    float: right;
    background-image: url("img/cabecera.jpg");
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#cabecera > nav {
    float: left;
}

#lateral{
    /*background-color: #08f8c4; */
    width: 200px; 
    float: left;
} 

#otrolado{ 
    /*background-color: #03f137;*/
    width: 200px;   /*Tecnicamente son 200px pero queda un hueco*/
    float: right;  
    text-align: left;
} 

#principal{ 
   /* background-color: #ffffff;  */
    width: 330px; 
    text-align: center;
} 

#principal img{
    width: 250px;
    margin: auto;
    display: block;
    align-content: center;
}

.seccion {
    display: inline-block;
    
}

/*
    Zona de pie de página
*/
footer { 
    background-color: #cccccc; 
    width: 770px;
    text-align: center; 
    clear: both; 
}

a {
    color: blue;
}

a:hover {
    color: red;
}

a:visited {
    
    font-family: "Verdana";
    color: blueviolet;
}

table{
    width: 330px;
    display: block;
    overflow-x: auto;
}
table a {
    color: green;
}

p {
    padding-top: 0.5em;
   
}

nav > a {
    background-color: grey;
}
nav > a:hover {
    background-color: #FFE65A;
}

.pagina-principal{
    display: table;
    width:100%;
}

header h1 {
    text-align: center;
}

ol {
    text-align: left;
}

#lateral li{

    padding: 0.3em;
    margin-bottom: 0.7em;
}
#lateral p {
    text-align: center;
}

#otrolado a{
    line-height: 2em;
}
#otrolado{
    text-align:center;
}