/*  
    Zona de fonde gris suave.
    Debe contener una barra de navegación
*/
#cabecera{ 
    
    background-color: #BDBDBD;
    font-size: 12pt; 
    font-weight: bold; 
    width: 770px;
    height: 100px;
    text-align: center;
    display: inline-block;
}

#cabecera > nav {
    float: left;
}

#cabecera > header {
    float: right;
    background-image: "img/club.jpg";
}

#lateral{ 
    width: 200px; 
    float: left;
} 

#otrolado{ 
    width: 200px; 
    float: right;  
    text-align: left;
} 

#principal{ 
    background-color: #ffffff;  
    width: 330px; 
    text-align: center;
} 

.seccion {
    display: inline-block;
}

/*
    Zona de pie de página
*/
footer { 
    background-color: #cccccc; 
    width: 770px;
    text-align: right; 
    clear: both; 
}

html {
    width: 770px;
    font-family: "Arial";
    font-size: 1.5em;
    color: black;
    margin-left: auto;
    margin-right: auto;
}


a {
    color: blue;
}

a:hover {
    color: red;
}

a:visited {
    
    font-family: "Verdana";
    color: blueviolet;
}


table a {
    color: green;
}

p {
    padding-top: 0.5 em;
}

nav > a {
    padding: 0.3 em;
    margin-bottom: 0.7 em;
    background-color: grey;

}
nav > a:hover {
    background-color: red;
}

