/*  
    Zona de fonde gris suave.
    Debe contener una barra de navegación
*/
#cabecera{ 
    background-color: #BDBDBD;  
    font-size:12pt; 
    font-weight: bold; 
    width: 330;
    height: 100;
    padding: 3 3 3 10px; 
}
 
#lateral{ 
    width: 200px; 
    float: left;
} 

#otrolado{ 
    width: 200px; 
    float: right;  
    text-align: left;
} 

#principal{ 
    background-color: #ffffff;  
    width: 330px; 
    text-align: center;
} 

.seccion {
    display: inline-block;
}

/*
    Zona de pie de página
*/
footer { 
    background-color: #cccccc; 
    width: 330;
    padding: 3 10 3 10px; 
    text-align:right; 
    clear: both; 
}

html {
    width: 770px;
    font-family: "Arial";
    font-size: 1.5em;
    color: black;
}

